@font-face {
    font-family: "atarian";
    src: url("../fonts/SF Atarian System Extended Bold.ttf");
}
@font-face {
    font-family: "arcadeclassic";
    src: url("../fonts/ARCADECLASSIC.TTF");
}
body{
    background-color: bisque;
}
#displayField{
    float: left;
    max-width: 70%;
}
#formField{
    float: right;
    margin-right: 40px

}
span{
    float: left;  
    margin: 5px
}
button{
    font-family: "atarian";
    background-color: lightseagreen;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
#add-game{
    font-family: "atarian";
    font-family: "arcadeclassic";
    background-color: lightseagreen;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
p{
    color:lightseagreen;
    font-family: "arcadeclassic";
    font-size: 16px
}
label{
    font-family: "atarian";
    color: lightseagreen;
    font-size: 16px;
}